# Model

## Load data

In [5]:
import pandas as pd 
import numpy as np 

df=pd.read_csv(fr'..\data\cleaned_data_08_2025.csv')

display(df.head())

,index,propertyCode,price,log_price,municipality,propertyType,size,cat_size,rooms,bathrooms,floor_grouped,hasLift,latitude,longitude
0,0,108933600,300000.0,12.611541,Esplugues de Llobregat,flat,78.0,Mediana,4,1,3-4,1,41.370454,2.083978
1,1,108932312,650000.0,13.384729,Santa Perpètua de Mogoda,chalet,243.0,Muy Grande,4,3,0,0,41.525747,2.192719
2,2,108932560,570000.0,13.253393,Pineda de Mar,duplex,208.0,Muy Grande,4,3,5+,1,41.617925,2.673653
3,3,108933084,390600.0,12.875442,Cabrils,chalet,166.0,Muy Grande,3,2,0,0,41.514466,2.381917
4,4,108933074,250000.0,12.429220,Masquefa,chalet,212.0,Muy Grande,4,2,0,0,41.489203,1.807568

In [9]:
display(df['municipality'].value_counts())

municipality
Barcelona                      1440
Hospitalet de Llobregat         286
Sabadell                        265
Terrassa                        240
Badalona                        204
                               ...
Sant esteve de Palautordera       1
Jorba                             1
Collsuspina                       1
Artés                             1
Pacs del Penedès                  1
Name: count, Length: 204, dtype: int64

In [23]:
import geopandas as gpd
gdf = gpd.read_file(fr"..\data\comarques-barcelona.geojson")
print(gdf.columns)

for i in gdf.columns:
    print(f'\nColumn: {i}')
    print(gdf[i].unique())

Index(['cap_comar', 'comarca', 'nom_comar', 'geometry'], dtype='object')

Column: cap_comar
['Vilafranca del Penedès' 'Igualada' 'Manresa' 'Sant Feliu de Llobregat'
 'Barcelona' 'Berga' 'Vilanova i la Geltrú' 'Mataró' 'Vic'
 'Sabadell / Terrassa' 'Granollers']

Column: comarca
['03' '06' '07' '11' '13' '14' '17' '21' '24' '40' '41']

Column: nom_comar
['Alt Penedès' 'Anoia' 'Bages' 'Baix Llobregat' 'Barcelonès' 'Berguedà'
 'Garraf' 'Maresme' 'Osona' 'Vallès Occidental' 'Vallès Oriental']

Column: geometry
<GeometryArray>
[<MULTIPOLYGON (((1.495 41.436, 1.502 41.429, 1.517 41.437, 1.534 41.44, 1.53...>,
 <MULTIPOLYGON (((1.471 41.801, 1.473 41.783, 1.461 41.777, 1.467 41.771, 1.4...>,
 <MULTIPOLYGON (((1.648 41.957, 1.664 41.963, 1.674 41.948, 1.686 41.938, 1.7...>,
 <MULTIPOLYGON (((1.813 41.604, 1.825 41.594, 1.832 41.591, 1.863 41.592, 1.8...>,
 <MULTIPOLYGON (((2.059 41.435, 2.067 41.43, 2.071 41.419, 2.057 41.418, 2.05...>,
 <MULTIPOLYGON (((2.225 41.492, 2.246 41.489, 2.248 41.485, 2.27 41.46, 2.253...>,
 <MULTIPOLYGON (((1.956 42.312, 1.971 42.303, 1.983 42.299, 1.992 42.3, 2.006...>,
 <MULTIPOLYGON (((1.69 42.104, 1.662 42.105, 1.652 42.11, 1.659 42.115, 1.693...>,
 <MULTIPOLYGON (((1.641 41.235, 1.669 41.245, 1.671 41.255, 1.675 41.256, 1.6...>,
 <MULTIPOLYGON (((2.6 41.684, 2.614 41.692, 2.63 41.688, 2.639 41.71, 2.651 4...>,
 <MULTIPOLYGON (((2.061 42.135, 2.071 42.142, 2.101 42.14, 2.098 42.13, 2.1 4...>,
 <MULTIPOLYGON (((2.021 41.707, 2.032 41.716, 2.039 41.717, 2.05 41.711, 2.06...>,
 <MULTIPOLYGON (((2.418 41.805, 2.433 41.804, 2.443 41.798, 2.444 41.789, 2.4...>]
Length: 13, dtype: geometry